body,
button,
a {
  font-size: 1.6rem !important;
}

body {
  background-color: var(--clr-bg) !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5% !important;
}

:root {
  --clr-main: #54453a;
  --clr-bg: #141414;
  --clr-light: #fff;
  --clr-secondary: #303b3d;
  --cl-p: #c9c9c9;
  --font-1: "Josefin Sans", sans-serif;
  --font-2: "Edu NSW ACT Foundation", cursive;
}
i {
  font-size: 2.5rem;
}

h1::selection,
img::selection,
span::selection,
h3::selection,
input::selection ,
button::selection{
  background-color: #446d67;
  color: var(--clr-light);
}

.login {
  width: 310px;
  height: 310px;
  border-radius: 50% 50% 52% 48%/ 34% 47% 53% 66%;
  background: linear-gradient(120deg, #258072, #962020);
}

.login2 {
  width: 310px;
  height: 310px;
  border-radius: 67% 33% 67% 33%/ 41% 70% 30% 59%;
  background-color: #ffffff3f;
  position: relative;
}

.login2 h1 {
  font-family: var(--font-1) !important;
  font-weight: 1000;
  margin-top: 20px;
}

.span-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--clr-light);
  top: -10px;
}

.user {
  font-size: 4rem;
  background: linear-gradient(to bottom, #258072, #962020);
  -webkit-background-clip: text;
  color: transparent;
}

.us,
.bxs-lock-alt {
  font-size: 1.8rem;
  color: var(--clr-light);
}

.bx-icon1,
.bx-icon2 {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, #5e2a2a, #375e58);
}

.bx-icon1 {
  border-radius: 39% 61% 28% 72%/61% 34% 66% 39%;
}

.bx-icon2 {
  border-radius: 72% 28% 66% 34% / 37% 62% 38% 63%;
}

form input {
  border: 1px solid var(--clr-light);
  background-color: transparent;
  outline: none;
  padding: 5px;
  border-radius: 20px;
  padding-left: 10px;
  color: var(--clr-light);
  width: 160px;
}

form input::placeholder {
  color: #e4e4e4;
  font-family: var(--font-2);
  font-size: 1.3rem;
}


.btn-login {
  border: 0;
  outline: none;
  font-family: var(--font-1);
  font-weight: 700;
  border-radius: 20px;
  width: 90px;
  height: 35px;
}

.btn-login {
  color: var(--clr-light);
  font-weight: 700;
  font-family: var(--font-1);
  border-radius: 20px;
  cursor: pointer;
  width: 95px;
  height: 42px;
  border: 0;
  background-color: #5e2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login .span-mother {
  display: flex;
  overflow: hidden;
}

.btn-login:hover .span-mother {
  position: absolute;
}

.btn-login:hover .span-mother span {
  transform: translateY(20px);
}
.btn-login .span-mother span:nth-child(1) {
  transition: 0.2s;
}
.btn-login .span-mother span:nth-child(2) {
  transition: 0.3s;
}
.btn-login .span-mother span:nth-child(3) {
  transition: 0.4s;
}
.btn-login .span-mother span:nth-child(4) {
  transition: 0.5s;
}
.btn-login .span-mother span:nth-child(5) {
  transition: 0.6s;
}
.btn-login .span-mother span:nth-child(6) {
  transition: 0.7s;
}
.btn-login .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}
.btn-login .span-mother2 span {
  transform: translateY(-20px);
}
.btn-login:hover .span-mother2 span {
  transform: translateY(0);
}
.btn-login .span-mother2 span {
  transition: 0.2s;
}
.btn-login .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}
.btn-login .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}
.btn-login .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}
.btn-login .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}
.btn-get-start .span-mother2 span:nth-child(6) {
  transition: 0.7s;
}

@media screen and (min-width: 576px) {
  .login,
  .login2 {
    width: 450px;
    height: 450px;
  }

  .span-user {
    width: 60px;
    height: 60px;
  }

  .bx-icon1,
  .bx-icon2 {
    width: 50px;
    height: 50px;
  }

  .bxs-user,
  .bxs-lock-alt {
    font-size: 2.3rem;
  }

  .user {
    font-size: 4.5rem;
  }

  form input {
    width: 180px;
  }
}
